@charset "UTF-8";
/* CSS Document */




/* ---------->>> General Rules (Don't Copy) <<<-----------*/

#container {
	width: 90%;
	max-width: 1200px;	
	margin: 0px auto;
	background-color: #E4E4E4;
}

h1 {
	font-size: 50px;
	padding: 10px 0px 20px 0px;
	margin: 2%; 	
}
p { margin: 2%; }

#section1 { 
	width: 71%;	
	margin: 0% 2% 2% 27%;
	background-color: #CCC; 
	padding: 100px 0px 300px 0px; 
}
#section2 { 
	width: 71%;	
	margin: 2% 2% 2% 27%;
	background-color: #CCC; 
	padding: 100px 0px 300px 0px; 
}
#section3 { 
	width: 71%;	
	margin: 2% 2% 2% 27%;
	background-color: #CCC; 
	padding: 100px 0px 300px 0px; 
}
#section4 { 
	width: 71%;	
	margin: 2% 2% 2% 27%;
	background-color: #CCC;
	padding: 100px 0px 300px 0px; 
}
#section5 { 
	width: 71%;	
	margin: 2% 2% 2% 27%;
	background-color: #CCC;
	padding: 100px 0px 300px 0px; 
}
#back {
	padding: 20px;	
}
#go {
	background-color: #FFF;
	text-align: center;
	padding: 30px;	
	width: 200px;
	margin: 50px auto 50px auto;
}
#go a {
	color: #999;
	text-decoration: none;
}
#go a:hover {
	color: #000;
}






/* fixed navigation on left */

nav { 
	position: fixed;
	top: 0;
	width: 18.666%;
	max-width: 224px;
	margin: 2% 2% 2% 2%;
  	background: rgba(0,0,0,0.9);
}
nav a { color: #999; text-decoration: none; }
nav a:hover { color: #FFF; }

nav ul {
	padding: 20px 0px;
}

nav li {
	padding: 10px;
	margin: 0px 0px 0px 0px;
}
nav img {
	width: auto;
}




/* ---------->>> Menu Rules (tablet + mobile) <<<-----------*/

@media screen and (max-width: 768px) {
	
nav {
	width: 90%;
	margin: 0px auto;
	max-width: 100%;
}

#menu {
	width:100%;
	display: block;
	background:#ddd;
	text-align: right;
	/*aligning the above "left" will make the 3 lines appear on the left*/
	padding: 5px 0px;
	margin: 0px;
}
/*position of 3-lines image:*/
#menu img {
	margin: 0px 20px;	
}
#nav.js {
	display: none;
}
nav ul {
	width:100%;
}
nav li {
	width:100%;
	margin: 0px 0px 0px 0px;
}

#section1, #section2, #section3, #section4, #section5 { 
	width: 100%;	
	margin: 0%;

}
}


/* ---------->>> Hide hamburger menu on big screens <<<-----------*/

@media screen and (min-width: 768px) {
#menu {
	display: none;
}
}

